@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 16px; }
  body .header {
    background: #eee;
    text-align: center;
    position: relative; }
    body .header .header-inner {
      display: flex;
      justify-content: space-between; }
      body .header .header-inner .logo {
        width: 1.5625rem;
        background: black;
        line-height: 1.25rem;
        color: white; }
      body .header .header-inner .menu {
        display: block;
        width: 1.5625rem;
        line-height: 0.75rem;
        padding: 0.25rem 0;
        color: #aaa; }
        body .header .header-inner .menu:active {
          color: #000; }
    body .header .nav {
      line-height: 0.75rem;
      display: none;
      float: right;
      background: #fff;
      position: absolute;
      right: 0.25rem;
      top: 1.25rem;
      z-index: 111; }
      body .header .nav .navItem {
        border-bottom: 0.5px solid #ccc;
        padding: 0.625rem; }
  body .banner {
    width: auto;
    height: 6.6875rem;
    margin: 0.3125rem auto 0;
    background: transparent url("/images/banner.jpg") no-repeat center;
    background-size: cover; }
  body .pictures {
    width: 10rem;
    overflow: hidden; }
    body .pictures .pictures-inner {
      display: flex;
      flex-flow: row wrap; }
      body .pictures .pictures-inner .picture {
        width: 4.6875rem;
        height: 4.6875rem;
        margin: 0.3125rem 0.15625rem 0 0.15625rem;
        border-radius: 0.09375rem; }
        body .pictures .pictures-inner .picture.picture-1 {
          background: transparent url("/images/p1.jpg") no-repeat center;
          background-size: cover; }
        body .pictures .pictures-inner .picture.picture-2 {
          background: transparent url("/images/p2.jpg") no-repeat center;
          background-size: cover; }
        body .pictures .pictures-inner .picture.picture-3 {
          background: transparent url("/images/p3.jpg") no-repeat center;
          background-size: cover; }
        body .pictures .pictures-inner .picture.picture-4 {
          background: transparent url("/images/p4.jpg") no-repeat center;
          background-size: cover; }
        body .pictures .pictures-inner .picture.picture-5 {
          background: transparent url("/images/p5.jpg") no-repeat center;
          background-size: cover; }
        body .pictures .pictures-inner .picture.picture-6 {
          background: transparent url("/images/p6.jpg") no-repeat center;
          background-size: cover; }
        body .pictures .pictures-inner .picture.picture-7 {
          background: transparent url("/images/p7.jpg") no-repeat center;
          background-size: cover; }
  body .art {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* 水平居中,会被子继承 */ }
    body .art > * {
      margin-top: 0.3125rem; }
    body .art .aside .aside-child {
      background: red;
      padding: 1.5625rem 0;
      /* 垂直居中 */ }
    body .art .main .main-child {
      padding: 1.5625rem 0;
      background: green; }
