.header {
  display: flex;
  justify-content: space-between;
  background: #eee;
  font-size: 16px;
  text-align: center; }
  .header .logo {
    width: 2.22222rem;
    line-height: 1.38889rem;
    background: pink; }
  .header .nav {
    display: flex; }
    .header .nav .navItem {
      width: 1.38889rem;
      line-height: 1.38889rem;
      background: #aaa; }

.pictures {
  width: 9.44444rem;
  margin: 0.55556rem auto;
  font-size: 16px;
  overflow: hidden; }
  .pictures .inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.27778rem; }
    .pictures .inner .picture {
      width: 1.94444rem;
      line-height: 1.94444rem;
      text-align: center;
      background: #666;
      margin: 0.27778rem; }
